.ief-popup {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
}