<!--The content below is only a placeholder and can be replaced.-->
<div class="app-header">
  <div class="title">
    Fitness Israeli records
  </div>
  <i class="fa fa-bars" (click)="onSideMenuToggleClicked()">
  </i>
</div>
<ng-template comp-host #componentHost></ng-template>
<app-side-menu [items]="menuItems" [(open)]="sideMenuOpen"></app-side-menu>
<router-outlet></router-outlet>
<div class="app-footer">
  <div class="footer-part social-media">
    <div class="footer-part-item">
      <i class="fab fa-facebook"></i>
      <a href="https://www.facebook.com/israelitefitness">Israel Elite Fitness</a>
    </div>
    <div class="footer-part-item">
      <i class="fab fa-instagram"></i>
      <a href="https://instagram.com/israelitefitness?utm_source=ig_profile_share&igshid=s1826nefvexm">@israelitefitness</a>
    </div>
  </div>
</div>
