<!--The content below is only a placeholder and can be replaced.-->
<div class="app-header">
  <div>
    Welcome to {{ title }}!
  </div>
  <div class="app-main-menu">
    <div *ngFor="let menuItem of menuItems" class="app-menu-item" [ngClass]="{'selected' : selectedMenuItem == menuItem}"
          (click)="onMenuItemClicked(menuItem)">
      {{menuItem.title}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="app-footer">
  <div class="footer-part social-media">
    <div class="footer-part-item">
      <i class="fab fa-facebook"></i>
      <div>Israel Elite Fitness on Facebook</div>
    </div>
    <div class="footer-part-item">
      <i class="fab fa-instagram"></i>
      <div>@israelitefitness on Instagram</div>
    </div>
  </div>
</div>
