.ief-records {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    flex-flow: wrap;
    overflow-y: scroll;

    .record-item {
        @media only screen and (max-width: 640px) {
            width: 325px;
        }
    
        @media only screen and (min-width: 640px) {
            width: 400px;
        }
    
        @media only screen and (min-width: 768px) {
            width: 400px;
        }

        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}