.ief-side-menu {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;

    .menu {
        background-color:#5352c4;
        width: 175px;
    }

    .menu-item {
        width: calc(100% - 7px);
        color:white;
        padding: 5px 0px 5px 7px;

        a {
            text-decoration: none;
            color:white;
        }

        &.selected {
            background-color: rgba($color: white, $alpha: 0.45);
            font-weight: bold;
        }
    }
}